<div class="card">

  <h3>Pendientes</h3>

  <p-dropdown
    [options]="bodegas"
    [(ngModel)]="selectedBodega"
    optionLabel="bod_nombre"
    placeholder="Seleccione bodega"
    (onChange)="listarComprobantes()">
  </p-dropdown>

  @if (selectedBodega) {
    <p-button
      label="Listar Facturas"
      icon="pi pi-"
      (onClick)="listarFacturas()">
    </p-button>
  }

  <br><br>
  @if (loading) {
    <div class="flex justify-content-center py-6">

      <p-progressSpinner></p-progressSpinner>

    </div>
  } @else {
    <p-table
      [value]="comprobantes"
      [(selection)]="selectedComprobantes"
      dataKey="ccoComproba"
      [paginator]="true"
      [rows]="10">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Comprobante</th>
          <th>Almacen</th>
          <th>Tipo</th>
          <th>Fecha</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-cco>
        <tr>

          <td>
            <p-tableCheckbox [value]="cco"></p-tableCheckbox>
          </td>

          <td>{{ cco.comprobante }}</td>
          <td>{{ cco.bodNombre }}</td>
          <td>{{ cco.tipo }}</td>
          <td>{{ cco.fechaFac | date:'mediumDate' }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="14" class="empty-state">
            <i class="pi pi-inbox" style="font-size: 2.5rem; color: var(--text-color-secondary);"></i>
            <p>No hay pedidos para mostrar</p>
          </td>
        </tr>
      </ng-template>

    </p-table>

    <br>

    <p-button
      label="Procesar seleccionados"
      icon="pi pi-check"
      (onClick)="procesarSeleccionados()">
    </p-button>
  }

</div>
