<div class="grid">
  <div class="col-12">
    <div class="flex flex-column sm:flex-row align-items-center gap-4">
      <div class="flex flex-column sm:flex-row align-items-center gap-3">
        <div class="flex flex-column align-items-center sm:align-items-start">
          <span class="text-900 font-bold text-2xl uppercase">Bienvenido {{ nombre }} </span>
          <p class="text-600 m-0">{{ fecha }} {{ hora }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

@if (!display){
  <h4>Tramites de la Semana</h4>
  <p-dataView #dv
              [value]="tramites"
              [paginator]="true"
              [rows]="9"
              filterBy="id"
              layout="list">

    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-tramite pTemplate="list">
      @for (tramite of tramites; track tramite.id) {
        <div class="p-3 border-round border-1 surface-border mb-3 shadow-1">
          <div class="flex flex-column md:flex-row gap-4 md:items-center">

            <!-- Imagen -->
            <div class="flex-shrink-0 text-center md:text-left">
              <img
                [src]="'images/' + (tramite.proceso | procesoTramite) + '.webp'"
                [alt]="'Estado ' + tramite.proceso"
                class="w-8rem md:w-10rem border-round shadow-2 mb-2 md:mb-0"
              />
            </div>

            <!-- Info + Acciones -->
            <div class="flex flex-1 flex-column md:flex-row md:justify-between md:items-center w-full gap-4">

              <!-- Información del trámite -->
              <div class="flex-1">
                <div class="text-xl font-semibold mb-2 text-primary">Trámite {{ tramite.id }}</div>
                <div class="mb-2 text-secondary">N° de contenedores: {{ tramite.contenedoresIds.length }}</div>
                <div class="flex align-items-center gap-2 px-2 py-1 border-round text-sm"
                     style="max-width: fit-content;"
                     [ngStyle]="tramite.proceso | procesoTramite | estadoColor">
                  <i class="pi text-sm"
                     [ngClass]="(tramite.proceso | procesoTramite) === 'Proceso' ? 'pi-clock' : 'pi-check'"></i>
                  <span class="font-medium">{{ tramite.proceso | procesoTramite }}</span>
                </div>
              </div>

              <!-- Acciones -->
              <div class="flex flex-column gap-2 md:text-right">
                <p-button (click)="obtenerDatosGraficos(tramite)" icon="pi pi-eye" label="Ver" styleClass="p-button-sm p-button-outlined"></p-button>
              </div>
            </div>
          </div>
        </div>
      }
    </ng-template>
  </p-dataView>
} @else {
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div class="my-2">
        <button pButton pRipple label="Seleccionar otro Tramite" icon="pi pi-chevron-left"
                class="p-button-outlined" (click)="regresar()"></button>
      </div>
    </ng-template>
  </p-toolbar>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card">
        @if (chartLineContenedoresData) {
          <p-chart type="line"
                   [data]="chartLineContenedoresData"
                   [options]="chartLineContenedoresOptions"></p-chart>
        }
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        @if (chartProductoHistorialData) {
          <p-chart type="line"
                   [data]="chartProductoHistorialData"
                   [options]="chartProductoHistorialOptions"></p-chart>
        }
      </div>
    </div>
  </div>
}

<p-scrollTop></p-scrollTop>
