<div class="card">
  <div class="grid grid-nogutter">
    <div class="col-12">
      <span class="text-900 font-bold text-4xl">Revision</span>
    </div>
    <div class="col-12 mt-4">
      <span class="text-900 block font-bold text-xl">Escaneo de importaciones</span>
    </div>
    <div class="col-12 mt-4">
      <ul class="flex list-none flex-wrap">
        <li class="flex align-items-center text-primary mr-2">Numero de Tramite<i
          class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
        <li class="flex align-items-center text-500 mr-2">Escaneo<i
          class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
        <li class="flex align-items-center text-500 mr-2">Verificacion de productos</li>
      </ul>

      @if (!tramiteExist){
        <div class="col-12">
          <div class="grid p-fluid mt-3">
            <div class="field mb-2 lg:col-6 lg:mb-0">
            <span class="p-float-label">
              <p-inputGroup>
                <button type="button" pButton label="Buscar" (click)="buscarTramite()"></button>
                <input type="text" pInputText placeholder="Buscar Numero Tramite" [(ngModel)]="tramiteId" (keydown.enter)="buscarTramite()"  />
              </p-inputGroup>
            </span>
            </div>
          </div>
        </div>
      } @else {
        <div class="col-12">
          <div class="grid p-fluid mt-3">
            <div class="field mb-2 lg:col-6 lg:mb-0">
            <span class="p-float-label">
              <input type="text" id="barra" pInputText [(ngModel)]="barra" (keydown.enter)="escaneo()">
              <label for="barra">Barra</label>
            </span>
            </div>
          </div>
        </div>

        @if (revisiones.length > 0) {
          <div class="mt-1">
            <div class="card">
              <p-table
                #dt
                [value]="revisiones"
                [responsiveLayout]="'scroll'"
                [paginator]="true"
                [rows]="10"
                dataKey="secuencia"
                class="my-3 p-p-3"
                styleClass="p-datatable-gridlines"
                [rowsPerPageOptions]="[10,20,30]">
                <ng-template pTemplate="caption">
                  <h4>Lista de Productos pitados</h4>
                </ng-template>

                <ng-template pTemplate="header">
                  <tr>
                    <th></th>
                    <th pSortableColumn="barra">Barra</th>
                    <th pSortableColumn="cantidad">Cantidad</th>
                    <th pSortableColumn="fecha">fecha</th>
                    <th pSortableColumn="cantidadPedida">Cantidad Pedida</th>
                    <th pSortableColumn="cantidadDiferencia">cantidad Diferencia</th>
                    <th pSortableColumn="estado">Estado</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto >
                  <tr>
                    <td></td>
                    <td class="text-right">{{producto.barra}}</td>
                    <td class="text-right">{{producto.cantidad}}</td>
                    <td class="text-right">{{producto.fecha}}</td>
                    <td class="text-right">{{producto.cantidadPedida}}</td>
                    <td class="text-right">{{producto.cantidadDiferencia}}</td>
                    <td class="text-right">{{producto.estado}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

        }
      }
    </div>
  </div>
</div>
