  <div class="grid grid-nogutter">
    <div class="col-12">
      <span class="flex align-items-center">
        <span class="text-900 font-bold text-4xl">Muestras</span>
      </span>
      <div class="col-12 mt-4">
        <ul class="flex list-none flex-wrap">
          <li class="flex align-items-center text-primary mr-2">Muestras<i
            class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
          <li class="flex align-items-center text-500 mr-2">Consulta<i
            class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
          <li class="flex align-items-center text-500 mr-2">lista por tramite</li>
        </ul>
        <div class="col-12">
          <div class="field col-12 md:col-4">
            <h4>Buscar por numero de Tramite</h4>
            <p-inputGroup id="caja">
              <button type="button" pButton icon="pi pi-search" (click)="buscarMuestras()"></button>
              <input type="text" pInputText placeholder="Tramite" [(ngModel)]="tramite"
                     (keydown.enter)="buscarMuestras()"/>
            </p-inputGroup>
          </div>
        </div>
        <div class="mt-2">
            <p-table
              #mr
              [value]="productos"
              [responsiveLayout]="'scroll'"
              [paginator]="true"
              [rows]="30"
              [rowsPerPageOptions]="[30,50,100]"
              dataKey="id"
              class="my-3 p-p-3"
              styleClass="p-datatable-gridlines">

              <ng-template pTemplate="caption">
                <h3>Lista de Muestras</h3>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th></th>
                  <th>Barra bulto</th>
                  <th>Barra Muestra</th>
                  <th>Cantidad</th>
                  <th>Hora</th>
                  <th>Fecha</th>
                  <th>Estado de revision</th>
                  <th>Usuario Revision</th>
                  <th>Tramite Id</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-muestra>
                <tr>
                  <td></td>
                  <td [ngStyle]="{'width': '50px'}">{{ muestra.id }}</td>
                  <td class="p-text-center p-col-1 p-col-fixed">{{ muestra.barraMuestra }}</td>
                  <td class="p-text-center p-col-1">{{ muestra.cantidad }}</td>
                  <td class="p-text-center p-col-1">{{ muestra.hora }}</td>
                  <td class="p-text-center p-col-1">{{ muestra.fecha }}</td>
                  @if (muestra.revision) {
                    <td class="p-text-center p-col-1">{{ muestra.revision.estado }}</td>
                    <td class="p-text-center p-col-1">{{ muestra.revision.usuario }}</td>
                    @if (muestra.revision.tramite) {
                      <td class="p-text-center p-col-1">{{ muestra.revision.tramite.id }}</td>
                    }
                  }
                </tr>
              </ng-template>

            </p-table>
        </div>
      </div>
    </div>
  </div>
