<div class="card">
  <div class="grid grid-nogutter">
    <div class="col-12">
      <span class="flex align-items-center">
        <span class="text-900 font-bold text-4xl">Tramites Cargados</span>
      </span>
      <div class="col-12 mt-4">
        <ul class="flex list-none flex-wrap">
          <li class="flex align-items-center text-primary mr-2">Tramite<i
            class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
          <li class="flex align-items-center text-500 mr-2">Consulta<i
            class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
          <li class="flex align-items-center text-500 mr-2">lista de tramites</li>
        </ul>
        <div class="field col-12 md:col-6">
          <h4>Monitoreo de Tramites</h4>
        </div>
        <div class="card">
          <div class="grid p-fluid" (keydown.enter)="find()">
            <div class="grid formgrid">
              <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <label for="id" class="text-900 font-semibold">Fecha Inicio</label>
                <p-calendar dateFormat="dd-mm-yy" inputId="fecha"
                            [(ngModel)]="fechaInicio"></p-calendar>
              </div>
              <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <label for="id" class="text-900 font-semibold">Fecha Fin</label>
                <p-calendar dateFormat="dd-mm-yy" inputId="fechaFin"
                            [(ngModel)]="fechaFin"></p-calendar>
              </div>
              <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <label for="id" class="text-900 font-semibold">Tramite</label>
                <span class="p-input-icon-left">
                  <i class="pi pi-bookmark"></i>
                  <input id="id" pInputText type="text" [(ngModel)]="id" autocomplete="off">
                </span>
              </div>
              <div class="col-12 mb-2 lg:col-4 lg:mb-0 py-5">
                <label for="estado" class="text-900 font-semibold">Estado</label>
                <span class="p-input-icon-left">
                  <p-dropdown id="estado" [options]="estados" [(ngModel)]="estado" optionLabel="name"></p-dropdown>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <div class="card">
            <p-table
              [value]="tramites"
              [responsiveLayout]="'scroll'"
              [paginator]="true"
              [rows]="5"
              dataKey="id"
              class="my-3 p-p-3"
              styleClass="p-datatable-gridlines">

              <ng-template pTemplate="caption">
                <h3>Listado de Tramites</h3>
                <small>Tramites: {{ tramites.length }}</small>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th></th>
                  <th pSortableColumn="id">Tramite</th>
                  <th pSortableColumn="fechaCarga">Fecha Carga</th>
                  <th pSortableColumn="observacion">Fecha Llegada</th>
                  <th pSortableColumn="estado">Estado</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-tramite let-expanded="expanded">
                <tr>
                  <td [ngStyle]="{'width': '50px'}">
                    @if (tramite.contenedores) {
                      <button type="button" pButton pRipple [pRowToggler]="tramite"
                              (click)="listarProducto(tramite.id)"
                              class="p-button-text p-button-rounded p-button-plain"
                              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    }
                  </td>
                  <td class="p-text-center p-col-1 p-col-fixed">{{ tramite.id }}</td>
                  <td class="p-text-center p-col-1">{{ tramite.fechaCarga }}</td>
                  <td class="p-text-center p-col-1">{{ tramite.fechaLlegada }}</td>
                  <td class="p-text-secondary">
                    <p-toggleButton
                      disabled="true"
                      [(ngModel)]="tramite.estado"
                      onLabel="Finalizado"
                      offLabel="Pendiente"
                      onIcon="pi pi-check"
                      offIcon="pi pi-times"
                      styleClass="w-9rem"
                      ariaLabel="Finalizado"/>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="rowexpansion" let-tramite>
                <tr>
                  <td colspan="13">
                    <div class="p-3">
                      <p-tabView>
                        <!-- Pestaña Contenedores -->
                        <p-tabPanel header="Contenedores">
                          <p-table [value]="tramite.contenedores" dataKey="id" responsiveLayout="scroll">
                            <ng-template pTemplate="caption">
                              <h3>Lista Contenedores del trámite: {{tramite.id}}</h3>
                            </ng-template>
                            <ng-template pTemplate="header">
                              <tr>
                                <th>Id</th>
                                <th>Usuario Bloquea</th>
                                <th>Contenedor Bloqueado</th>
                                <th>Contenedor Finalizado</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-contenedor>
                              <tr>
                                <td>{{contenedor.id}}</td>
                                <td>{{contenedor.usrBloquea}}</td>
                                <td>
                                  <p-toggleButton
                                    disabled="true"
                                    [(ngModel)]="contenedor.bloqueado"
                                    onLabel="Bloqueado"
                                    offLabel="Desbloqueado"
                                    onIcon="pi pi-lock"
                                    offIcon="pi pi-lock-open"
                                    styleClass="w-9rem"
                                    ariaLabel="Finalizado"/>
                                </td>
                                <td>
                                  <p-toggleButton
                                    disabled="true"
                                    [(ngModel)]="contenedor.finalizado"
                                    onLabel="Finalizado"
                                    offLabel="Pendiente"
                                    onIcon="pi pi-check"
                                    offIcon="pi pi-times"
                                    styleClass="w-9rem"
                                    ariaLabel="Finalizado"/>
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                        </p-tabPanel>

                        <!-- Pestaña Productos -->
                        <p-tabPanel header="Productos">
                          <p-table [value]="productos" dataKey="id" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                              <tr>
                                <th>Barra</th>
                                <th>Item</th>
                                <th>Nombre</th>
                                <th>CXB</th>
                                <th>Bultos</th>
                                <th>Total</th>
                                <th>PVP</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-producto>
                              <tr>
                                <td>{{producto.id}}</td>
                                <td>{{producto.id1}}</td>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.cxb}}</td>
                                <td>{{producto.bultos}}</td>
                                <td>{{producto.total}}</td>
                                <td>{{producto.pvp}}</td>
                              </tr>
                            </ng-template>
                          </p-table>
                        </p-tabPanel>
                      </p-tabView>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
