<div class="grid grid-nogutter">
  <div class="col-12">
    <span class="text-900 font-bold text-4xl">Validacion</span>
  </div>
  <div class="col-12 mt-4">
    <span class="text-900 block font-bold text-xl">Finalizar Tramites descargados</span>
  </div>
  <div class="col-12 mt-4">

    @if (loading) {
      <div class="flex align-items-center justify-content-center" style="height: 100%;">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem; color: blue;"></i>
      </div>
    } @else {
      @if (vistaTramites) {
        <h4> Lista de tramites </h4>
        <p-dataView #dv
                    [value]="tramites"
                    [paginator]="true"
                    [rows]="9" filterBy="id"
                    layout="grid">
          <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                  <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Buscar por tramite"
                                   (input)="onFilter(dv, $event)">
                        </span>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
          </ng-template>

          <ng-template let-tramites pTemplate="listItem">
            @for (tramite of tramites; track $index) {
              <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                <img
                  [src]="'images/' + (tramite.proceso | procesoTramite) + '.webp'"
                  [alt]="'Estado ' + tramite.proceso"
                  class="w-8rem md:w-10rem border-round shadow-2 mb-2 md:mb-0"
                />
                <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                  <div class="font-bold text-2xl">Tramite {{ tramite.id }}</div>
                  <div class="mb-2">N° de contenedores {{ tramite.contenedoresIds.length }}</div>
                  <div class="flex align-items-center mt-2">
                        <span class="font-semibold flex-grow-1"
                              [ngStyle]="tramite.proceso | procesoTramite | estadoColor">
                          @if ((tramite.proceso | procesoTramite )=== 'Proceso') {
                            <i class="pi pi-clock mr-2"></i>
                          } @else {
                            <i class="pi pi-check mr-2"></i>
                          }
                          {{ tramite.proceso | procesoTramite }}
                        </span>
                  </div>
                </div>
                <div
                  class="flex flex-row md:flex-column justify-content-center w-full md:w-auto align-items-center md: align-items-end mt-5 md:mt-0">
                  <p-button (click)="buscarContenedores(tramite)" icon="pi pi-eye" label="Ver"
                            styleClass="mb-2 p-button-sm"></p-button>
                </div>
              </div>
            }
          </ng-template>

          <ng-template let-tramites pTemplate="gridItem">
            <div class="grid grid-nogutter">
              @for (tramite of tramites; track $index) {
                <div class="col-12 md:col-4">
                  <div class="card m-3 border-1 surface-border">
                    <div class="flex flex-wrap gap-2 align-items-center justify-content-center mb-2">
                      <div class="flex align-items-center">
                            <span class="font-semibold flex-grow-1"
                                  [ngStyle]="tramite.proceso | procesoTramite | estadoColor">
                              @if ((tramite.proceso | procesoTramite )=== 'Proceso') {
                                <i class="pi pi-clock mr-2"></i>
                              } @else {
                                <i class="pi pi-check mr-2"></i>
                              }
                              {{ tramite.proceso | procesoTramite }}
                            </span>
                      </div>
                    </div>
                    <div class="flex flex-column align-items-center text-center mb-3">
                      <div class="text-2xl font-bold">Tramite {{ tramite.id }}</div>
                      <div class="mb-3">N° de contenedores {{ tramite.contenedoresIds.length }}</div>
                      <img
                        [src]="'images/' + (tramite.proceso | procesoTramite) + '.webp'"
                        [alt]="'Estado ' + tramite.proceso"
                        class="w-8rem md:w-10rem border-round shadow-2 mb-2 md:mb-0"
                      />
                    </div>
                    <div class="flex align-items-center justify-content-center">
                      <p-button icon="pi pi-eye" (click)="buscarContenedores(tramite)" label="Ver"></p-button>
                    </div>
                  </div>
                </div>
              }
            </div>
          </ng-template>

        </p-dataView>
      } @else {
        <h4>Productos escaneados {{revisiones.length}}</h4>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <button pButton pRipple label="Regresar" icon="pi pi-chevron-left"
                      class="p-button-outlined" (click)="regresar()"></button>
            </div>
          </ng-template>
          <ng-template pTemplate="right">
            <button pButton pRipple label="Descargar Excel" icon="pi pi-download" class="p-button-outlined"
                    (click)="exportToExcel()"></button>
          </ng-template>
        </p-toolbar>
        <p-table #dt [value]="revisiones" dataKey="id" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Barra</th>
              <th>Item</th>
              <th>Nombre</th>
              <th>Bultos</th>
              <th>Escaneados</th>
              <th>Diferencia</th>
              <th style="min-width: 12rem">
                <div class="flex justify-content-between align-items-center">
                  <p-columnFilter
                    field="estadoRevision"
                    matchMode="equals"
                    [showMenu]="false"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false">

                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-dropdown
                        [options]="estadoOptions"
                        placeholder="Filtrar por estado"
                        [ngModel]="value"
                        (onChange)="filter($event.value)"
                        appendTo="body">
                      </p-dropdown>
                    </ng-template>
                  </p-columnFilter>

                </div>
                </th>
              <th>Usuario</th>
              <th>Novedad</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-producto>
            <tr>
              <td>{{ producto.barcode }}</td>
              <td>{{ producto.id1 }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.bultos }}</td>
              <td>{{ producto.cantidadRevision }}</td>
              <td>{{ producto.cantidadDiferenciaRevision }}</td>
              <td>
                <div [ngStyle]="producto.estadoRevision | estadoColor">
                  {{ producto.estadoRevision }}
                </div>
              </td>
              <td>{{ producto.usuarioRevision }}</td>
              <td>
                <button pButton pRipple type="button" icon="pi pi-box" (click)="selectProduct(producto)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      }
    }
  </div>
</div>
<p-dialog header="Contenedores"
          [(visible)]="display"
          [modal]="true"
          showEffect="fade"
          breakpoints="{'1200px': '70vw', '960px': '90vw', '640px': '100vw'}">
  <p-table
    [value]="contenedores"
    dataKey="id"
    responsiveLayout="scroll">
    <ng-template pTemplate="body" let-contenedor>
      <tr>
        <td>Contenedor {{ contenedor.contenedorId }}</td>
        <td>
          <p-toggleButton
            disabled="true"
            [(ngModel)]="contenedor.finalizado"
            onLabel="Finalizado"
            offLabel="Pendiente"
            onIcon="pi pi-check-circle"
            offIcon="pi pi-clock"
            styleClass="w-9rem"
            ariaLabel="Finalizado"/>
        </td>
        <td>
          <button
            (click)="validate(contenedor)"
            type="button"
            pButton
            pRipple
            [disabled]="!contenedor.finalizado"
            label="Validar"
            class="p-button-rounded"
            icon="pi pi-check">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>


<p-dialog
  header="Ingresar Novedad"
  [(visible)]="editProductView"
  [modal]="true"
  [style]="{ width: '25rem' }"
  showEffect="fade">

  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <p-avatar
        icon="pi pi-ticket"
        shape="circle" />
      <span class="font-bold white-space-nowrap">
        Agregar Novedad
      </span>
    </div>
  </ng-template>
  <span class="p-text-secondary block mb-5">Actualizar las cantidades, Bultos en el tramite {{bultos}}</span>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="cantidad" class="font-semibold w-6rem">
      Cantidad validada
    </label>
    <input pInputText id="cantidad" class="flex-auto" autocomplete="off" [(ngModel)]="cantidad"/>
  </div>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="cantidad" class="font-semibold w-6rem">
      Ingresar Obsrvacion
    </label>
    <input pInputText id="cantidad" class="flex-auto" autocomplete="off" [(ngModel)]="novedad"/>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      label="Cancelar"
      [text]="true"
      severity="secondary"
      (onClick)="closeUpdate()" />
    <p-button
      label="Actualizar"
      [outlined]="true"
      severity="secondary"
      (onClick)="updateProduct()"
    />
  </ng-template>

</p-dialog>
