<div class="layout-topbar">
  <div class="topbar-start">
    <button #menubutton type="button" class="topbar-menubutton p-link p-trigger" (click)="onMenuButtonClick()">
      <i class="pi pi-bars"></i>
    </button>

  </div>

  <div class="topbar-end">
    <ul class="topbar-menu">
      <li class="topbar-breadcrumb">
        <span class="p-text-secondary">Importadora Cumpleaños</span>
      </li>
      <li class="ml-3">
        <button pButton type="button" icon="pi pi-sign-out"
                class="p-button-rounded p-button-info"
                (click)="logout()"></button>
      </li>
    </ul>
  </div>
</div>
