<div class="card">
  <div class="grid grid-nogutter">
    <div class="col-12">
      <span class="flex align-items-center">
        <span class="text-900 font-bold text-4xl">Revision</span>
      </span>
      <div class="col-12 mt-4">
        <ul class="flex list-none flex-wrap">
          <li class="flex align-items-center text-primary mr-2">Revision<i
            class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
          <li class="flex align-items-center text-500 mr-2">Consulta<i
            class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
          <li class="flex align-items-center text-500 mr-2">lista por tramite</li>
        </ul>
        <div class="col-12">
          <div class="field col-12 md:col-6">
            <h4>Buscar por numero de Tramite</h4>
            <p-inputGroup id="caja">
              <button type="button" pButton icon="pi pi-search" (click)="buscarRevisiones()"></button>
              <input type="text" pInputText placeholder="Tramite" [(ngModel)]="tramite" (keydown.enter)="buscarRevisiones()"/>
            </p-inputGroup>
          </div>
        </div>
        <div class="mt-2">
          <div class="card">
            <p-table
              #mr
              [value]="revisiones"
              [responsiveLayout]="'scroll'"
              [paginator]="true"
              [rows]="5"
              dataKey="id"
              class="my-3 p-p-3"
              styleClass="p-datatable-gridlines">

              <ng-template pTemplate="caption">
                <h3>Lista de Muestras</h3>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th></th>
                  <th>Barra</th>
                  <th>Cantidad</th>
                  <th>Fecha Revision</th>
                  <th>Usuario Revision</th>
                  <th>Cantidad Pedida</th>
                  <th>Cantidad Diferencia</th>
                  <th>Estado Revision</th>
                  <th>Tramite</th>
                  <th>Fecha Llegada</th>
                  <th>Estado Tramite</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-revision let-expanded="expanded">
                <tr>
                  <td [ngStyle]="{'width': '50px'}">
                    @if (revision.tramite | keyvalue) {
                      <button type="button" pButton pRipple [pRowToggler]="revision"
                              class="p-button-text p-button-rounded p-button-plain"
                              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    }
                  </td>
                 <td class="p-text-center p-col-1">{{revision.barra}}</td>
                  <td class="p-text-center p-col-1">{{revision.cantidad}}</td>
                  <td class="p-text-center p-col-1">{{revision.fecha}}</td>
                  <td class="p-text-center p-col-1">{{revision.usuario}}</td>
                    <td class="p-text-center p-col-1">{{revision.cantidadPedida}}</td>
                    <td class="p-text-center p-col-1">{{revision.cantidadDiferencia}}</td>
                  <td class="text-xs flex align-items-center">
                    <span [ngStyle]="revision.estado | estadoColor" class="flex-grow-1">{{ revision.estado }}</span>
                  </td>
                  @if (revision.tramite) {
                    <td class="p-text-center p-col-1">{{revision.tramite.id}}</td>
                    <td class="p-text-secondary">{{revision.tramite.fechaLlegada}}</td>
                    <td class="p-text-secondary">
                      <p-toggleButton
                        disabled="true"
                        [(ngModel)]="revision.tramite.estado"
                        onLabel="Finalizado"
                        offLabel="Pendiente"
                        onIcon="pi pi-check"
                        offIcon="pi pi-times"
                        styleClass="w-9rem"
                        ariaLabel="Finalizado"/>
                    </td>
                  }
                </tr>
              </ng-template>

              <ng-template pTemplate="rowexpansion" let-revision>
                <tr>
                  <td colspan="13">
                    <div class="p-3">
                      <p-table
                        [value]="revision.tramite.contenedores"
                        dataKey="id"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                          <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Usuario Bloquea</th>
                            <th>Contenedor bloqueado</th>
                            <th>Contenedor Finalizado</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-contenedor>
                          <tr>
                            <td></td>
                            <td>{{contenedor.id}}</td>
                            <td>{{contenedor.usrBloquea}}</td>
                            <td class="align-content-center">
                              <p-toggleButton
                                disabled="true"
                                [(ngModel)]="contenedor.bloqueado"
                                onLabel="Bloqueado"
                                offLabel="Desbloqueado"
                                onIcon="pi pi-lock"
                                offIcon="pi pi-lock-open"
                                styleClass="w-9rem"
                                ariaLabel="Finalizado"/>
                            </td>
                            <td>
                              <p-toggleButton
                                disabled="true"
                                [(ngModel)]="contenedor.finalizado"
                                onLabel="Finalizado"
                                offLabel="Pendiente"
                                onIcon="pi pi-check"
                                offIcon="pi pi-times"
                                styleClass="w-9rem"
                                ariaLabel="Finalizado"/>
                            </td>

                          </tr>
                        </ng-template>

                      </p-table>
                    </div>
                  </td>
                </tr>
              </ng-template>

            </p-table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
